<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="remoteService" class="com.pinnet.remote.impl.RemoteServiecImpl"/>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceInterface" value="com.pinnet.remote.IRemoteService"/>
        <property name="serviceName" value="remoteService"/>
        <property name="service" ref="remoteService"/>
        <property name="registryPort" value="9999"/>
    </bean>
</beans>